<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="proDataLogging" type="ProDataMedia.Logging.Config.LogConfigSection, ProDataMedia.Logging, Version=1.0.0.0, Culture=neutral"/>
  </configSections>

  <proDataLogging level="Debug">
    <appenders>
      <appender name="rollingFileAppender"/>
      <!--<appender name="adoNetAppender" />-->
    </appenders>
    <rollingFileAppender maxFileSize="100000" maxNumBackupFiles="5"/>
    <!--<adoNetAppender bufferSize="1" connectionStringName="DEV" />-->
  </proDataLogging>

  <connectionStrings>
    <clear/>
    <add name="DEV" connectionString="Server=localhost;Database=DEV;User Id=DEV_App;Password=P@ssword1" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
